<form>
  <div class='form-group'>
    <label for='textbox'>Search for MTGO Username:</label>
    <input #textbox type='text' 
          class='form-control' 
          [(ngModel)]='username' 
          name='name' 
          (keyup.enter)='onButtonClick(textbox.value)'
          maxlength='25'>
  </div>  
  <button class='btn btn-primary' (click)='onButtonClick(textbox.value)'>Search</button>
  <button class='btn btn-default' (click)='onButtonClick("")'>Reset</button>
</form>
  <br>
<div class='container-fluid'>
  <div class="loading" *ngIf='!draftData'>
    Loading~
  </div>

  <div class="row">
  <div class="panel-container" *ngIf='draftData'> 
    <div class="panel panel-default crack-panel" *ngFor='let draftRow of draftData'>
      <div class="panel-body crack-panel-body">
        <a [routerLink]="['/crack', draftRow.draft._id]"><app-card
          [cardName]='draftRow.draft.packs[0][13]' 
          [cutout]='true'
          altTitle='Crack this draft!'></app-card></a>
        <p><a [routerLink]="['/crack', draftRow.draft._id]" 
              title='Crack this draft!'>
              {{draftRow.format.name}} Draft
           </a> 
          <span class="badge" 
                *ngIf='draftRow.draft.cracks.length > 0'
                tooltip='Number of Crack a Drafts done for this draft'>{{draftRow.draft.cracks.length}}</span></p>
        <p>by <a (click)='onButtonClick(draftRow.draft.drafter)'>{{draftRow.draft.drafter}}</a></p>
        <p><a [routerLink]="['/draft', draftRow.draft._id]"><i class="fa fa-list-alt" aria-hidden="true"></i> View Draft Stats</a></p>
      </div>
    </div>

    </div>
  </div>
  
  <div *ngIf='totalDraftCount && totalDraftCount > pageSize'>

      <pagination [totalItems]="totalDraftCount" [(ngModel)]="pageNumber" [maxSize]="10" 
                  [itemsPerPage]="pageSize" class="pagination-sm"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>

