<form>
  <div class='form-group'>
    <label for='textbox'>Search for MTGO Username:</label>
    <input #textbox type='text' 
          class='form-control' 
          [(ngModel)]='username' 
          name='name' 
          (keyup.enter)='onButtonClick(textbox.value)'
          maxlength='25'>
  </div>  
  <button class='btn btn-primary' (click)='onButtonClick(textbox.value)'>Search</button>
  <button class='btn btn-default' (click)='onButtonClick("")'>Reset</button>
</form>
  <br>
<div class='container-fluid'>
  <div class="loading" *ngIf='!draftData'>
    Loading~
  </div>

  <div class="row">
    <div class="panel-container" *ngIf='draftData'> 
      <app-draft-badge 
        *ngFor='let draft of draftData'
        [draft]='draft'
        (selectedName)='onButtonClick($event)'>
      </app-draft-badge>
    </div>
  </div>
  
  <div *ngIf='totalDraftCount && totalDraftCount > pageSize'>

      <pagination [totalItems]="totalDraftCount" [(ngModel)]="pageNumber" [maxSize]="10" 
                  [itemsPerPage]="pageSize" class="pagination-sm"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
</div>

