.crack-panel-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.crack-panel {
  flex: 0 0 0;  
  background-color: #EEE;
}