<div class="container-fluid" >
  
  <div class='pull-right'>
    <button class='btn btn-primary' 
            (click)='setAllAccordions(true)'
            [disabled]='crackAccordions.indexOf(false) === -1'>Open All</button>
    <button class='btn btn-primary' 
            (click)='setAllAccordions(false)'
            [disabled]='crackAccordions.indexOf(true) === -1'>Close All</button>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading clickable" (click)='onClickAccordion(0)'>
      {{draftData.draft.drafter}}'s Picks
      <i class='pull-right float-xs-right glyphicon'
      [ngClass]="{'glyphicon-chevron-down': crackAccordions[0], 'glyphicon-chevron-right': !crackAccordions[0]}"></i>
    </div>
    <div class="panel-body" *ngIf='crackAccordions[0]'>
      <app-card *ngFor='let pick of (draftData.draft.picks.slice(0,8)); let i = index'
        [cardName]='draftData.draft.packs[i][pick]'>
      </app-card>
    </div>
  </div>

  <div class="panel panel-default" 
       *ngFor='let crack of draftData.draft.cracks; let crackIndex = index'>
    <div class="panel-heading clickable" (click)='onClickAccordion(crackIndex+1)'>
      #{{crackIndex+1}}, Archetype: {{crack.archetype}}
      <i class='pull-right float-xs-right glyphicon'
      [ngClass]="{'glyphicon-chevron-down': crackAccordions[crackIndex+1], 'glyphicon-chevron-right': !crackAccordions[crackIndex+1]}"></i>
    </div>
    <div class="panel-body" *ngIf='crackAccordions[crackIndex+1]'>
      <app-card *ngFor='let pickNumber of crack.picks; let packIndex = index'
          [cardName]='draftData.draft.packs[packIndex][pickNumber]'>
      </app-card>
    </div>
  </div>
</div>