<div class="container-fluid" >
  <span>The first 8 picks for the submitter and all crack a drafts done for this draft:</span>
  <div class='pull-right'>
    <button class='btn btn-primary' 
            (click)='setAllAccordions(true)'
            [disabled]='crackAccordions.indexOf(true) !== -1'>Open All</button>
    <button class='btn btn-primary' 
            (click)='setAllAccordions(false)'
            [disabled]='crackAccordions.indexOf(false) !== -1'>Close All</button>
  </div>
  <hr>
  <accordion>
    <accordion-group (click)='onClickAccordion(0)' [isOpen]='crackAccordions[0]'>
      <div accordion-heading >
        {{draftData.draft.drafter}}'s Picks 
        <i class='pull-right float-xs-right glyphicon'
      [ngClass]="{'glyphicon-chevron-down': crackAccordions[0], 'glyphicon-chevron-right': !crackAccordions[0]}"></i>
      </div>
      <app-card *ngFor='let pick of (draftData.draft.picks.slice(0,8)); let i = index'
        [cardName]='draftData.draft.packs[i][pick]'>
      </app-card>
    </accordion-group>
    <accordion-group *ngFor='let crack of draftData.draft.cracks; let crackIndex = index'
                      class='accordion-group'
                      (click)='onClickAccordion(crackIndex+1)' [isOpen]='crackAccordions[crackIndex+1]'>
      <div accordion-heading>
        #{{crackIndex+1}}, Archetype: {{crack.archetype}}
        <i class='pull-right float-xs-right glyphicon'
      [ngClass]="{'glyphicon-chevron-down': crackAccordions[crackIndex+1], 'glyphicon-chevron-right': !crackAccordions[crackIndex+1]}"></i>
      </div>
      <app-card *ngFor='let pickNumber of crack.picks; let packIndex = index'
          [cardName]='draftData.draft.packs[packIndex][pickNumber]'
        >
      </app-card>
    </accordion-group>
  </accordion>
</div>