.top-pool {
}

.pool-stacked {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column {
  width: 165px;
  text-align: center;
}

@media (max-width: 768px) {
  .column {
    width: 115px;
  }
}


.column app-card:last-child div img {
  margin-bottom: 0;
}