<h3>Main Deck ({{cardPools[0].length}} card{{cardPools[0].length !== 1 ? 's' : ''}})</h3>
<div class="pool-buttons">
  <form class="form-inline">
    <div class="form-group">
      <label for="sorting-buttons">Sort By:</label>
      <div id="sorting-buttons" class="btn-group">
        <label class='btn btn-default' name='btn-name' [(ngModel)]='sortBy'
              btnRadio='name' (click)='sortCardPoolArray("name")'>Name</label>
        <label class='btn btn-default' name='btn-cmc' [(ngModel)]='sortBy'
              btnRadio='cmc' (click)='sortCardPoolArray("cmc")'>CMC</label>
        <label class='btn btn-default' name='btn-color' [(ngModel)]='sortBy'
              btnRadio='color' (click)='sortCardPoolArray("color")'>Color</label>
        <label class='btn btn-default' name='btn-type' [(ngModel)]='sortBy'
              btnRadio='type' (click)='sortCardPoolArray("type")'>Type</label>
      </div>
    </div>
    <div class="form-group">
      <div class="btn-group">
        <label class='btn btn-primary' name='btn-pile-view' 
               [(ngModel)]='isColumnView' btnCheckbox>Pile View</label>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="top-pool pool">
  <div class="pool-normal" *ngIf='!isColumnView'>
    <app-card *ngFor='let card of cardPools[0]'
      [cardName]='card.name'
      (click)='onCardClicked(card.name, true)'
      [clickable]='true'
    >
    </app-card>
  </div>
  <div class="pool-stacked" *ngIf='isColumnView'>  
    <div class="column" *ngFor='let cardColumn of cardPoolsColumns[0]; let i = index'>
      <span *ngIf='sortBy !== "name"'>{{cardPoolsColumnNames[0][i]}} ({{cardColumn.length}})</span>
      <app-card *ngFor='let card of cardColumn; let cardIndex = index'
        [cardName]='card.name'
        [stacked]='cardIndex !== cardColumn.length-1'
        [pile]='true'
        (click)='onCardClicked(card.name, true)'
        [clickable]='true'
        (mouseover)='onMouseOver(card)'
      >
      </app-card>
    </div>
  </div>
</div>
<div class="bottom-pool pool" *ngIf='cardPools[1].length > 0'>
  <hr>
  <h3>Sideboard ({{cardPools[1].length}} card{{cardPools[1].length !== 1 ? 's' : ''}})</h3>
  <div class="pool-normal" *ngIf='!isColumnView'>
    <app-card *ngFor='let card of cardPools[1]'
      [cardName]='card.name'
      (click)='onCardClicked(card.name, false)'
      [clickable]='true'
    >
    </app-card>
  </div>
  <div class="pool-stacked" *ngIf='isColumnView'>  
    <div class="column" *ngFor='let cardColumn of cardPoolsColumns[1]; let i = index'>
      <span *ngIf='sortBy !== "name"'>{{cardPoolsColumnNames[1][i]}} ({{cardColumn.length}})</span>
      <app-card *ngFor='let card of cardColumn; let cardIndex = index'
        [cardName]='card.name'
        [stacked]='cardIndex !== cardColumn.length-1'
        (click)='onCardClicked(card.name, false)'
        [clickable]='true'
        (mouseover)='onMouseOver(card)'
        [pile]='true'
      >
      </app-card>
    </div>
  </div>
</div>
<app-card
  class='hovered-card'
  [ngClass]='{left: isLeft, right: !isLeft}'
  *ngIf='hoveredCard && isColumnView'
  [cardName]='hoveredCard'
  [hoverCard]='true'
  [pile]='true'
  (mouseover)='onHoverCardMouseOver()'>
</app-card>
