.pool-stacked {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column {
  width: 180px;
  text-align: center;
}

.hovered-card {  
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

@media (max-width: 768px) {
  .column {
    width: 140px;
  }

  .hovered-card {
    display: none;
  }
}

.column app-card:last-child div img {
  margin-bottom: 0;
}