<span class='card-container' *ngIf='cardImageUrl && !cutout'>
  <!--<div class='card-container'>-->
<img class='card-img' 
     [ngClass]="{pick: picked, draftPicks:draftPicks, stack: stacked, pile: pile, hoverCard:hoverCard, clickable: clickable}"
     src={{cardImageUrl}}     
     (click)='onClick()'
     alt={{cardName}}
     title={{altTitle}}
>
<img class='card-hover'
  src={{cardImageUrl}}
  alt={{cardName}}
  title={{altTitle}}
  (click)='onClick()'
  >
<h1 *ngIf='pickrate'>{{pickrate}}%</h1>
<!--</div>-->
</span>
<div class="cutout-container" *ngIf='cutout'>
  <img 
     class='cutout'
     src={{cardImageUrl}} 
     alt={{cardName}}
     title={{altTitle}}>
</div>