.card-container {
  position: relative;  
  width: 100%;
}
.card-container:last-child {
  height: 100%;
}

.card-img {
  height: 234px;
  width: 165px;
  padding: 2px;
}

.clickable {
  cursor: pointer;
}

.stack {
  margin-bottom: -207px;
}

.pick {
  border-radius: 12px;
  border: 5px solid red;
  background-color: red;
}

h2 { 
   position: absolute; 
   top: -100px; 
   left: 20px; 
   width: 100%;
   color: red;
}