:host {
  margin-right: -3px;
  min-height: 100px;
}

.card-container {
  position: relative;  
}
.card-container:last-child {
  height: 100%;
}

.card-img:not(.hoverCard) {
  width: 180px;
  padding: 2px;
  border-radius: 10px;
}

.card-hover {
  display: none;
}

.card-img:hover:not(.pile) + .card-hover, .card-hover:hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -80%;
    margin-left: -13%;
    z-index: 10;
    border-radius: 10px;
}

.stack {
  margin-bottom: -221px;
}

@media (max-width: 768px) {
  .card-img:not(.hoverCard) {
    height: 195px;
    width: 140px;
    padding: 0px;
  }

  .card-img:hover:not(.pile) + .card-hover, .card-hover:hover {
    display: none;
  }

  .stack {
    margin-bottom: -174px;
  }
}

.cutout-container {
  position: relative;
  min-height: 99px;
  width: 222px;
}
.cutout {
  position: absolute;
  clip: rect(37px, 203px, 166px, 20px);
  margin-top: -57px;
}

.clickable {
  cursor: pointer;
}

.pick {
  border-radius: 12px;
  border: 5px solid red;
  background-color: red;
}

h1 {
  text-align: center; 
  position: absolute; 
  top: -70px; 
  left: 0px; 
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 
              -1px -1px 3px rgba(0, 0, 0, 1),
              1px -1px 3px rgba(0, 0, 0, 1),
              -1px 1px 3px rgba(0, 0, 0, 1);
}