:host {
  margin-right: -3px;
  min-height: 100px;
}

.card-container {
  position: relative;  
  display: inline-block;
  vertical-align: top;
}
.card-container:last-child {
  height: 100%;
}

.card-img:not(.hoverCard) {
  width: 180px;
  padding: 2px;
  border-radius: 10px;
}

.card-hover {
  display: none;
}

.card-string {
  max-width: 180px;
  text-align: center;
  color: #333;
}

.card-img:hover:not(.pile) + .card-hover, .card-hover:hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -19%;
    margin-left: -13%;
    z-index: 10;
    border-radius: 10px;
}

.stack {
  margin-bottom: -221px;
}

@media (max-width: 768px) {
  .card-img:not(.hoverCard) {
    width: 140px;
    padding: 0px;
  }

  .card-img:hover:not(.pile) + .card-hover, .card-hover:hover {
    display: none;
  }

  .stack {
    margin-bottom: -174px;
  }

  .card-string {
    max-width: 140px;
  }
}

/*.cutout-container {
  position: relative;
  min-height: 99px;
  width: 222px;
}

.cutout {
  position: absolute;
  clip-path: inset(36px 18px 139px 18px);
  -webkit-clip-path: inset(36px 18px 139px 18px);
  -moz-clip-path: inset(36px 18px 139px 18px);
  margin-top: -57px;
}*/

.cutout-container {
  display: inline-block;
  position: relative;
  width: 194px;
  height: 142px;
  background: gray;
  box-sizing: border-box;
  border-radius: 5px;
}

.cutout {
  position: absolute;
  top: -33px;
  left: -14px;
  clip-path: inset(36px 18px 139px 18px);
  -webkit-clip-path: inset(36px 18px 139px 18px);
  -moz-clip-path: inset(36px 18px 139px 18px);
}

.clickable {
  cursor: pointer;
}

.draftPicks.card-img:not(.pick) {
  opacity: 0.75;
}

.pick {
  border-radius: 12px;
  border: 3px solid red;
  background-color: red;
}

h1 {
  text-align: center; 
  position: absolute; 
  top: 30px; 
  left: 0px; 
  width: 100%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 
              -1px -1px 3px rgba(0, 0, 0, 1),
              1px -1px 3px rgba(0, 0, 0, 1),
              -1px 1px 3px rgba(0, 0, 0, 1);
}