<div class="crack-draft">


<p *ngIf='currentState === 0'>
  Loading~
</p>
<div class="draft-area" *ngIf='currentState === 1'>
  <div class="pack">
    <div class="container">
      <h2>{{draftData.format.name}} Crack a Draft</h2>
      <h3>Pick {{currentPick}}/8:</h3>
    </div>
    <div class="container-fluid">
      <app-card *ngFor='let card of draftData.draft.packs[currentPick-1]; let pickIndex = index'
        [cardName]='card'
        [index]='pickIndex'
        (cardClicked)='onCardClicked(pickIndex, card)'
        [clickable]='true'
      >
      </app-card>
    </div>      
  </div>
  <div class="picked-cards" *ngIf='myPickedCardNames.length >= 1'>
    <hr>
    <div class="container-fluid">
      <h3>Picked Cards:</h3>
      <app-card *ngFor='let card of myPickedCardNames'
        [cardName]='card'>
      </app-card>
    </div>
  </div>
</div>
<div class="container" *ngIf='currentState === 2'>
  <h3>Your 8 picks:</h3>
  <app-card *ngFor='let card of myPickedCards'
      [cardName]='card.name'>
  </app-card>
  <h3>Which colors do you think you're going to play?</h3>
  <div class="btn-group form-group">
    <label class="btn btn-default" 
           [ngClass]='colorName'
           [(ngModel)]='colorCheckboxes[i]' 
           btnCheckbox *ngFor='let colorName of colorNames; let i = index'>{{colorName}}</label>
  </div>
  <div class='form-group'>
  <button 
    class='btn btn-primary'
    (click)='onSubmitCrackDraft()'
    [disabled]='(!colorCheckboxes[0] && !colorCheckboxes[1] && !colorCheckboxes[2] && !colorCheckboxes[3] && !colorCheckboxes[4]) || isSubmitting'>
    Submit Crack a Draft</button>
  </div>
</div>
</div>