<nav class="navbar navbar-default">
  <div class="container">
    <a class='navbar-brand navbar-left stylized-font' [routerLink]="['']"><img src="assets/crackadraft_logo_small.png" class="small-logo" alt="logo"> Crack a Draft</a>
    <a class='navbar-brand navbar-right' [routerLink]="['/donate']">Donate</a>    
  </div>
</nav>
<router-outlet></router-outlet>
<span class='goto-top-button visible-xs-block' 
      (click)='gotoTop()'>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
</span>
<div class="footer-container" [style.padding-bottom]='footerHeight + "px"'>
  <footer #footer>
    <p>Created by: Fabio Kubagawa <a href="https://twitter.com/kyong92"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
    <p>Wizards of the Coast, Magic: The Gathering, and their logos are trademarks of Wizards of the Coast LLC in the 
      United States and other countries.©2009 Wizards. All Rights Reserved</p>
    <p><em>Crack a Draft</em> is not affiliated with, endorsed, sponsored, or specifically approved by Wizards of the Coast LLC. 
      <em>Crack a Draft</em> may use the trademarks and other intellectual property of Wizards of the Coast LLC, which is 
      permitted under Wizards' Fan Site Policy. For more information about Wizards of the Coast or any of Wizards' trademarks or other 
      intellectual property, please visit their website at <a href="www.wizards.com">www.wizards.com</a></p>
  </footer>
</div>