<div class="file-upload">
  <alert type="danger" *ngIf='errorMessage'>
    {{errorMessage}}
    This probably means your draft log was modified, corrupted or you disconnected mid-draft.
  </alert>
  <div class="upload-form" *ngIf='!draftIds && !errorMessage'>
    <p>Select a MTGO draft log file to upload. Then share your draft and crack a draft links with others.</p>
    <input name='draftUploadField' id='draftUploadField' #draftUploadField
      type="file"
      placeholder="Upload file" 
      accept=".txt">
      <label tooltip='We use your MTGO username so you can easily find your own drafts later. But you can change this and be anonymous if preferred'>
      <input type="checkbox" 
        [checked]="isAnonymous" 
        (change)="isAnonymous = $event.target.checked">
        Don't publish my MTGO username
      </label>      
    <button class='btn btn-primary pull-right' 
            (click)="submit($event)"
            [disabled]="isSubmitting || !draftUploadField.files[0]">Upload</button>
  </div>
  <div class="files-uploaded" *ngIf='draftIds'>
    Drafts uploaded:
    <ul *ngIf='draftIds.length > 1'>
      <li *ngFor='let draftId of draftIds; let i = index'>
        <a [routerLink]="['/draft', draftId]" target="_blank">Draft {{i+1}}</a>
      </li>
    </ul>
  </div>
  <button class='btn btn-primary' *ngIf='draftIds || errorMessage'
  (click)='cleanup()'>Upload another draft</button>
</div>
