<div class="container">
  <p>
    Crack a Draft is 100% free to use with no ads. But if you want to help us cover the hosting costs or pay for a draft, we truly appreciate it.
  </p>

  <a target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=XYTK2VA73Z9AU&lc=US&item_name=Crack%20a%20Draft&item_number=crackadraft&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!"></a>
</div>
