/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.panel-group .panel {
    margin-top: 10px;
    margin-bottom: 20px;
}
