html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.panel-group .panel {
    margin-top: 10px;
    margin-bottom: 20px;
}

.small-logo {
  float: left;
  margin-top: -5px;
}

.stylized-font {
  font-family: 'Hammersmith One', sans-serif;
}