<div class="container">
  <div class="jumbotron">
    <h1 class='stylized-font'><img src="assets/crackadraft_logo.png" alt="">Crack a Draft</h1>
    <p>Cracking a pack is opening a booster pack to discuss what we would pick in a draft. 
      Here in Crack a Draft we use real MTGO drafts submitted by you to simulate not only pack 1 pick 1,
      but the first 8 picks of a draft.</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel top-panel panel-default">
        <div class="panel-heading">
          <img src="assets/crackadraft_logo_small.png" class="small-logo" alt="logo"> Crack a Draft
        </div>
        <div class="panel-body top-panel-body">
          <p>Do a random Crack a Draft by selecting your favorite format below or go All Random if you can't decide!</p>
          <app-format-chooser #formatChooser></app-format-chooser>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel top-panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-upload" aria-hidden="true"></i> Upload a Draft
        </div>
        <div class="panel-body top-panel-body has-scroll">
          <app-draft-upload (uploaded)="draftSearch.refreshTable()" (uploaded)="formatChooser.load()"></app-draft-upload>
          <a (click)='lgModal.show()'>What do I need to upload?</a>

          <div bsModal #lgModal='bs-modal' class='modal fade'
                tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel'
                aria-hidden='true'>
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-left">How to upload a draft log</h4>
                  <button type='button' class='close pull-right' (click)='lgModal.hide()' aria-label="Close"> 
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h4>Where are my draft log files?</h4>
                  <p>You need to opt-in to save your draft logs. By default, they are located at 
                    <mark>C:\Users\Your Windows Username\Documents</mark>. 
                    They are .txt files with your name, date and draft format.</p>
                  <h4>Making MTGO save draft logs</h4>
                  <p>To turn this option on, go to your Account menu</p>
                  <img src="assets/draftlog-tutorial/img01.png" 
                        class="img-thumbnail img-responsive" alt="Account menu Image">
                  <p>Then navigate to Game History on the left sidebar and mark the checkbox below. You can also change the destination folder here.</p>
                  <img src="assets/draftlog-tutorial/img02.png" 
                        class="img-thumbnail img-responsive" alt="Game History Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>    
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-search" aria-hidden="true"></i> Recently Uploaded Drafts
        </div>
        <div class="panel-body">
          <app-draft-search #draftSearch></app-draft-search>
        </div>
      </div>      
    </div>
  </div>
</div>