<div class="panel panel-default crack-panel" >
  <div class="panel-body crack-panel-body">
    <a [routerLink]="['/crack', draft.draft._id]"><app-card
      [cardName]='draft.draft.faceCard'
      [cutout]='true'
      altTitle='Crack this draft!'></app-card></a>
    <p><a [routerLink]="['/crack', draft.draft._id]" 
          title='Crack this draft!'>
          {{draft.format.name}} Draft
        </a> 
      <span class="badge" 
            *ngIf='draft.draft.numCracks > 0'
            tooltip='Number of Crack a Drafts done for this draft'>{{draft.draft.numCracks}}</span></p>
    <p>by <a (click)='onButtonClick(draft.draft.drafter)'>{{draft.draft.drafter}}</a></p>
    <p><a [routerLink]="['/crack', draft.draft._id]"><img src="assets/crackadraft_logo_small.png" class="small-logo" alt="logo">Crack</a> | 
       <a [routerLink]="['/draft', draft.draft._id]"><i class="fa fa-list-alt" aria-hidden="true"></i> View</a></p>
  </div>
</div>